@page "/clients/edit"
@using CaseManagementApp.Models
@inject IClientRepository ClientRepository
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Client</h2>
<hr />
@if (Client is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Client" OnValidSubmit="UpdateClient" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert" />
                <input type="hidden" name="Client.Id" value="@Client.Id" />
                <div class="mb-3">
                    <label for="fullname" class="form-label">FullName:</label>
                    <InputText id="fullname" @bind-Value="Client.FullName" class="form-control" aria-required="true" />
                    <ValidationMessage For="() => Client.FullName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <InputText id="email" @bind-Value="Client.Email" class="form-control" />
                    <ValidationMessage For="() => Client.Email" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="phonenumber" class="form-label">PhoneNumber:</label>
                    <InputText id="phonenumber" @bind-Value="Client.PhoneNumber" class="form-control" />
                    <ValidationMessage For="() => Client.PhoneNumber" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/clients">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Client? Client { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Client ??= await ClientRepository.GetByIdAsync(Id);

        if (Client is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task UpdateClient()
    {
        var exists = await ClientRepository.GetByIdAsync(Client!.Id);

        if (exists is null)
        {
            NavigationManager.NavigateTo("notfound");
            return;
        }

        await ClientRepository.UpdateAsync(Client!);
        NavigationManager.NavigateTo("/clients");
    }
}
