@page "/attorneys/create"
@using Microsoft.EntityFrameworkCore
@using CaseManagementApp.Models
@using Microsoft.AspNetCore.Authorization
@inject IAttorneyRepository AttorneyRepository
@inject NavigationManager NavigationManager

@attribute [Authorize(Roles = "Attorney, Paralegal, Admin")]

<PageTitle>Create Attorney</PageTitle>

<h1>Create Attorney</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="AttorneyForm" OnValidSubmit="AddAttorney" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <InputText id="name" @bind-Value="AttorneyForm.Name" class="form-control" aria-required="true" />
                <ValidationMessage For="() => AttorneyForm.Name" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <InputText id="email" @bind-Value="AttorneyForm.Email" class="form-control" />
                <ValidationMessage For="() => AttorneyForm.Email" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="phonenumber" class="form-label">Phone Number:</label>
                <InputText id="phonenumber" @bind-Value="AttorneyForm.PhoneNumber" class="form-control" />
                <ValidationMessage For="() => AttorneyForm.PhoneNumber" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/attorneys">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Attorney AttorneyForm { get; set; } = new();

    private async Task AddAttorney()
    {
        var entity = new Attorney
            {
                Name = AttorneyForm.Name,
                Email = AttorneyForm.Email,
                PhoneNumber = AttorneyForm.PhoneNumber
            };

        await AttorneyRepository.AddAsync(entity);
        NavigationManager.NavigateTo("/attorneys");
    }
}
