@page "/attorneys"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using CaseManagementApp.Models
@using CaseManagementApp.Data
@using Microsoft.AspNetCore.Authorization
@inject IAttorneyRepository AttorneyRepository

@attribute [Authorize(Roles = "Attorney, Paralegal, Admin")]

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="attorneys/create">Create New Attorney</a>
</p>

<div class="table-responsive">
    <QuickGrid TGridItem="Attorney" Class="table" Items="AllAttorneys.AsQueryable()">
        <PropertyColumn Property="attorney => attorney.Name" />
        <PropertyColumn Property="attorney => attorney.Email" />
        <PropertyColumn Property="attorney => attorney.PhoneNumber" />

        <TemplateColumn Context="attorney">
            <a href="@($"attorneys/edit?id={attorney.Id}")">Edit</a> |
            <a href="@($"attorneys/details?id={attorney.Id}")">Details</a> |
            <a class="btn btn-danger" href="@($"attorneys/delete?id={attorney.Id}")">Delete</a>
        </TemplateColumn>
    </QuickGrid>
</div>

@code {
private List<Attorney> AllAttorneys = new();

    protected override async Task OnInitializedAsync()
    {
        AllAttorneys = await AttorneyRepository.GetAllAsync();
    }
}
